<div id="notLanding" class="container">
    <div class="row">
        <div class="col s12 card-panel">
            <h1 class="center-align">Q & A</h1>
        </div>
    </div>


{{!-- {{cards.0.question}} --}}


{{!-- <ul>
  {{#each cards}}
    <li>
      <p>Type: {{cards[0].id}}</p>
      <p>Pet: {{cards[0].question}}</p>
      <p>Fierceness: {{cards[0].answer}}</p>
    </li>
  {{/each}}
</ul> --}}


    {{!-- <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <div id="flashCards">
                        <div class="question">
                        </div>
                        <div class="answer">
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#"> Click here to learn more! </a>
                </div>
            </div>
        </div>
    </div> --}}

    <div class="row">
        <div id="cardContain" class="col s10 card large offset-s1">
            <!-- card content -->
            <div id="flashCards">
                <div class="question">
                    {{!-- {{cards.count.question}} --}}
                </div>
                <div class="answer">
                    {{!-- {{cards.count.answer}} --}}
                </div>
            </div>
        </div>
    </div>

    <p id="cardsLeft" class="center-align">Click a button below to get started!</p>
    <div id="reviewContain" class="row">
        <button id="review" class="col s5 card small">
            <h2 class="center-align">REVIEW AGAIN</h2>
        </button>
        <button id="understand" class="col s5 offset-s2 card small">
            <h2 class="center-align">I UNDERSTAND THIS</h2>
        </button>
    </div>
</div>